body {
    background-color: black;
    color: white;
}

center {
    margin-top: auto;
}

pre {
    font-family: "cascadia code", "Victor Mono", Consolas, "Courier New", monospace;
    font-variant-ligatures: common-ligatures;
    color: yellowgreen;
    border: 1px solid yellowgreen;
    padding: 1em;
}

button {
    padding: 1rem;
    margin: 1rem;
    font-weight: 700;
    background-color: cyan;
    font-family: "Courier New", Courier, monospace;
}